



<div class="row shadow-sm ">
  
  <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-warning p-3 rounded">
      <small>Total de Disciplinas:</small>
      <span class="text-warning"><strong><%= @total_disciplina_por_aluno%></strong> </span>
    </div>
  </div>

  <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-warning p-3 rounded">
      <small>Total de Cursos:</small>
      <span class="text-warning"><strong><%= @total_curso_por_aluno%></strong> </span>
    </div>
  </div>

  <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-warning p-3 rounded">
      <small>Total de Notas:</small>
      <span class="text-warning"><strong><%= @total_notas_por_aluno%></strong> </span>
    </div>
  </div>

  <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-warning p-3 rounded">
      <small>Total de Semestres:</small>
      <span class="text-warning"><strong><%= @total_semestres_por_aluno%></strong> </span>
    </div>
  </div>



   <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-warning p-3 rounded">
      <small>Soma das Notas:</small>
      <span class="text-warning"><strong><%= @soma_das_notas_da_matricula%></strong> </span>
    </div>
  </div>

  <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-warning p-3 rounded">
      <small>Soma das cargas horárias:</small>
      <span class="text-warning"><strong><%= @soma_das_cargas_horarias_da_matricula%></strong> </span>
    </div>
  </div>

    <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-warning p-3 rounded">
      <small>Soma dos PCHS's:</small>
      <span class="text-warning"><strong><%= @soma_dos_pchs_da_matricula%></strong> </span>
    </div>
  </div>

  <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-info p-3 rounded">
      <small class="">Média Aritmética das Notas</small>
      <span class="text-info"><strong><%= @media_aritmetica_notas_da_matricula%></strong> </span>
    </div>
  </div>

 

   <div class="col-3 p-0 mt-1 mb-1">
    <div class="border-start border-4 border-info p-3 rounded">
      <small>CR final (PCH/CH):</small>
      <span class="text-info"><strong><%= @crfinal_da_matricula%></strong> </span>
    </div>
  </div>


</div>



<div class="row p-2 m-3">
  <small class="text-danger text-center">** A coluna média ponderada leva em conta a seguinte fórmula: CR = Nota(i)*CargaHoraria(i)/TotalCargaHoraria </small>
<div>

<div class="row mt-3 shadow-sm">
<h6 class="text-center p-3 border-bottom"> Dados do Matrícula <strong class="text-primary"><%= @aluno[0]['MATRICULA']%></strong></h6>
<table class="table table-striped table-sm">
  <thead>
    <tr>
      
      <th scope="col">COD_DISCIPLINA</th>
      <th scope="col">COD_CURSO</th>
      <th scope="col">NOTA</th>
      <th scope="col">CARGA_HORARIA</th>
      <th scope="col">PCH(CH*N)	</th>
      <th scope="col">ANO_SEMESTRE</th>
      <th scope="col">MÉDIA_PONDERADA</th>
      
    </tr>
  </thead>
  <tbody>
    
    <% if @aluno.present? %>
        <% @aluno.each do |aluno| %>
        <tr>
            <td class="text-light-emphasis"><%= aluno['COD_DISCIPLINA'] %></td>
            <td class="text-light-emphasis"><%= aluno['COD_CURSO'] %></td>
            <td class="text-light-emphasis"><%= aluno['NOTA'] %></td>
            <td class="text-light-emphasis"><%= aluno['CARGA_HORARIA'] %></td>
            <td class="text-light-emphasis"><%= aluno['NOTA'].to_i * aluno['CARGA_HORARIA'].to_i %></td>
            <td class="text-light-emphasis"><%= aluno['ANO_SEMESTRE'] %></td>
            <td class="text-success"><%= aluno['NOTA'].to_i * aluno['CARGA_HORARIA'].to_i / @soma_carga_horaria %></td>
            
        </tr>
        <% end %>
    <% end %>

  </tbody>
</table>
</div>

<div class="row">
  <div class="col-3">
  <%= link_to "voltar" , alunos_path , class: "btn btn-secondary"%>
  </div>
</div>