
<div class="row ">
  
  <div class="col border-start border-4 border-warning p-3 rounded d-flex flex-column justify-content-center align-items-center shadow-sm">
      <small>Total de Matrículas:</small>
      <span class="text-warning"><strong><%= @total_de_matriculas_pelo_codigo_do_curso%></strong> </span>
  </div>

  <div class="col border-start border-4 border-warning p-3 rounded d-flex flex-column justify-content-center align-items-center shadow-sm">
      <small>Total de Disciplinas:</small>
      <span class="text-warning"><strong><%= @total_de_disciplinas_pelo_codigo_do_curso%></strong> </span>
  </div>

  <div class="col border-start border-4 border-warning p-3 rounded d-flex flex-column justify-content-center align-items-center shadow-sm">
      <small>Total de Notas:</small>
      <span class="text-warning"><strong><%= @total_de_notas_pelo_codigo_do_curso%></strong> </span>
  </div>

   <div class="col border-start border-4 border-warning p-3 rounded d-flex flex-column justify-content-center align-items-center shadow-sm">
      <small>Total de Semestres:</small>
      <span class="text-warning"><strong><%= @total_de_semestres_pelo_codigo_do_curso%></strong> </span>
  </div>

</div>

<div class="row mt-3">

  <div class="col border-start border-4 border-primary p-3 rounded d-flex flex-column justify-content-center align-items-center shadow-sm">
      <small>Soma pch</small>
      <span class="text-primary"><strong><%= @soma_dos_pchs_pelo_codigo_do_curso%></strong> </span>
  </div>

  <div class="col border-start border-4 border-primary p-3 rounded d-flex flex-column justify-content-center align-items-center shadow-sm">
      <small>Soma das Cargas Horárias</small>
      <span class="text-primary"><strong><%= @soma_das_cargas_horarias_pelo_codigo_do_curso%></strong> </span>
  </div>

   <div class="col border-start border-4 border-primary p-3 rounded d-flex flex-column justify-content-center align-items-center shadow-sm">
      <small>CR do Curso:</small>
      <span class="text-primary"><strong><%= @soma_dos_pchs_pelo_codigo_do_curso / @soma_das_cargas_horarias_pelo_codigo_do_curso %></strong> </span>
  </div>


</div>












<div class="row p-2 m-3">
  <small class="text-danger text-center">** A coluna média leva em conta a seguinte fórmula: CR = Nota(i)*CargaHoraria(i)/TotalCargaHoraria </small>
<div>


<div class="row mt-3 ">
  <h6 class="text-center p-3 border-bottom"> Dados do Curso 
    <strong class="text-primary"><%= @curso[0]['COD_CURSO']%>  </strong>
  </h6>


  <table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">MATRICULA</th>
      <th scope="col">COD_DISCIPLINA</th>
      <th scope="col">NOTA</th>
      <th scope="col">CARGA_HORARIA</th>
      <th scope="col">PCH(CH*N)</th>
      <th scope="col">ANO_SEMESTRE</th>
      <th scope="col">MÉDIA</th>
      
      
    </tr>
  </thead>
  <tbody>
    
    <% if @curso.present? %>
        <% @curso.each do |curso| %>
        <tr>
            <td>
                <a  class="btn btn-primary"
                    href="/cursos/<%= curso['COD_CURSO'] %>/aluno/<%= curso['MATRICULA'] %> " 
                >
                <%= curso['MATRICULA'] %>
                </a>
            </td>
            <td class="text-light-emphasis"><%= curso['COD_DISCIPLINA'] %></td>
            <td class="text-light-emphasis"><%= curso['NOTA'] %></td>
            <td class="text-light-emphasis"><%= curso['CARGA_HORARIA'] %></td>
            <td class="text-light-emphasis"><%= curso['NOTA'].to_i * curso['CARGA_HORARIA'].to_i %></td>
            <td class="text-light-emphasis"><%= curso['ANO_SEMESTRE'] %></td>
            <td class="text-success">
              <%= curso['NOTA'].to_i * curso['CARGA_HORARIA'].to_i /  @soma_das_cargas_horarias_pelo_codigo_do_curso %>
            </td>

         
            
        </tr>
        <% end %>
    <% end %>

  </tbody>
</table>
</div>

<div class="row">
  <div class="col-3">
    <%= link_to "voltar" , cursos_path , class: "btn btn-secondary"%>
  </div>
</div>

