<!DOCTYPE html>
<html>
  <head>
    <title>C2d3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  </head>

  <body class="container-app">

    <!--sidebar / menu lateral do dashboard-->
    <%= render "layouts/menu" %>
   

    <section class="col box-overflow shadow ps-3 pe-2">

      <!--header do dashboard-->
      <%= render "layouts/header" %>
   
      <!--main do dashboard-->
      <main class="ps-4">
        <%= yield %>
      </main>
    </section>

 









 <!--footer do dashboard-->
 <%= render "layouts/footer" %>
